h1 {
  text-align:center;
  margin-bottom: 0px;
  margin-top: 8px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
  margin-left: 10px;
}

th {
  font-size:14;
}

tr {
  height: 17px;
}

td, th {
  width: 50%;
  overflow: hidden;
  white-space: pe-line;
  text-overflow: ellipsis;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

.alt-rows {
  background-color: FloralWhite;
}

.horizontal {
  text-align: center;
}

#content {
  padding: 5px;
  /* width: 50%;
  height: 90% */
}

#options-link {
  color: blue;
  text-decoration: underline;
}

#source-link {
  color: blue;
  text-decoration: underline;
}

#recents-table {
  table-layout: fixed;
  border-collapse: collapse;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  margin: 10px;
  width: 97%;
}

.slider {
  width: 80%;
}

.slider-val {
  margin-right:75px;
  font-size: 14px;
  font-weight: bold;
  float:right;
}

.button-container {
  float:left;
}

#save-button-container {
  padding: 10px;
}

#save-button {
  font-family:Arial,Sans-serif;
  font-size:14px;
  font-weight:bold;
}

#save-message {
  margin-top: 4px;
  font-size: 14px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
